[pipenv]
allow_prereleases = false

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybind11 = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pylama = "*"
pytest = "*"
numpy = "*"

[requires]
python_version = "3.6"
