[pipenv]
allow_prereleases = false

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybind11 = "*"

[dev-packages]
pylama = "*"
pytest = "*"

[requires]
python_version = "3.6"
